.hero{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    color: #f7f7f7;
    padding: 2rem 7.5vw 2rem 7.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
}
.hero > img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    min-height: 100%;
    z-index: -1;
}
.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #050839 25%, rgba(0,212,255,0) 100%);
    z-index: -1;
}

.hero > div {
    background-color:  #5080be80;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: max-content;
    border-left: 4px solid #5080be;
}
.hero > div > p {
    margin: 0;
    display: flex;
    font-weight: 600;
}

.hero > h1{
    font-size: 5rem;
    max-width: 60%;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    line-height: 5rem;

}

.hero > p {
    line-height: 1.5rem;
    font-weight: 500;
}

.hero > a {
    padding: 1rem 3rem 1rem 3rem;
    background-color: #5080be;
    display: flex;
    width: fit-content;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 2rem;
    color: #f7f7f7;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-in-out;
}
.hero > a > img {
    margin-left: 0.5rem;
    width: 1.5rem;
    filter: invert();
}
.hero > a:hover{
    background-color: #f7f7f7;
    color: #050839;
}
.hero >a:hover > img {
    filter: invert(5%) sepia(50%) saturate(5217%) hue-rotate(236deg) brightness(104%) contrast(107%);
}

@media only screen and (min-width: 0px) and (max-width:640px) {
    .hero {
        margin-top: 5rem;
    }
    .hero > h1{
        font-size: 3rem;
        max-width: 100%;
        margin-top: 0.35em;
        margin-bottom: 0.35em;
        line-height: 3.5rem;
    
    }
    .gradient {
        background: linear-gradient(90deg, #050839 0%, rgba(0,212,255,0) 100%);
    }
    .hero > img{
        object-position: 60%;
    }
    
}

@media only screen and (min-width: 640px) and (max-width:992px) {
    .hero {
        margin-top: 5rem;
    }
    .hero > h1{
        font-size: 4rem;
        max-width: 60%;
        margin-top: 0.35em;
        margin-bottom: 0.35em;
        line-height: 4rem;
    
    }
}

@media only screen and (min-width: 992px) and (max-width:1200px) {

    .hero {
        margin-top: 5rem;
    }


}