nav{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
nav.small > .contactBar {
    display: none;
}
nav.small > .logoBar > img {
    height: 75%;
}
nav.small > .logoBar::before{
    border-bottom: 5rem solid #4F7FBE;
}

.logoBar {
    color: #f7f7f7;
    position: absolute;
    width: 25%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-left: 60px;
    box-sizing: border-box;
}
.logoBar > img{
    height: 50%;
    filter: invert();
}
.logoBar::before{
    content: "";
    position: absolute;
    left: -100000px;
    bottom: 0;
    right: 0px;
    border-bottom: 130px solid #4F7FBE;
    border-right: 75px solid transparent;
    z-index: -1;
}








.contactBar{
    background-color: #050839;
    color: #f7f7f7;
    padding-left: calc(25% + 60px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    height: 3rem;
    font-weight: 500;
}

.contacts{
    display: flex;

}
.contacts > a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #f7f7f7;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #f7f7f7;
    display: flex;
    align-items: center;
    transition: 0.25s ease-in-out;
}
.contacts > a > img {
    width: 1.5rem;
    margin-right: 1rem;
    filter: invert(47%) sepia(33%) saturate(764%) hue-rotate(174deg) brightness(94%) contrast(92%);

}
.contacts > a:hover {
    color: #4F7FBE;
}
.contacts > a:first-child{
    padding-left: 0;
}
.contacts > a:last-child{
    border: none;
    padding-right: 0;
}

.contactsBtn{
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    transition: 0.25s ease-in-out;

    color: #f7f7f7;
}
.contactsBtn::before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    clip-path: polygon(92% 0, 100% 50%, 92% 100%, 0% 100%, 6% 50%, 0% 0%);
    background:  #5080be;
    color: #f7f7f7;
    font-weight: bold;
    font-size: 1rem;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-in-out;
    z-index: -1;
}
.contactsBtn:hover{
    color: #4F7FBE;
}
.contactsBtn:hover::before{
    background-color: #f7f7f7;
    color: #4F7FBE;
}





.navigationBar {
    background-color: #f7f7f7;
    color: #1E1C1C;
    padding-left: calc(25% + 60px);
    padding-right: 60px;
    box-sizing: border-box;
    height: 5rem;
    display: flex;
    align-items: center;
    
}
.navigationBar > a {
    height: 100%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    color: #1E1C1C;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    font-weight: 600;
}
.navigationBar > a:hover{
    color: #4F7FBE;
}
.navigationBar > a:first-child{
    margin-left: 0;
}
.navigationBar > a:last-child{
    margin-right: 0;
}
.navigationBar > select {
    margin: 0;
    margin-left: auto;
    border: none;
    background-color: #f7f7f7;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.navigationBar > select > option{
    background-color: #050839;
    color: #f7f7f7;
    border-radius: 0;
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.menuBtn {
    height: 75%;
    aspect-ratio: 1;
    margin: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1rem;
    background-color: transparent;
    border: none;
    z-index: 999;
}
.menuBtn > div {
    width: 100%;
    height: 2px;
    background-color: #050839;
    border-radius: 999px;
}

@media only screen and (min-width: 0px) and (max-width:640px) {

    nav> .contactBar {
        display: none;
    }
    nav > .logoBar > img {
       height: 75%;
       width: 60%;
       object-fit:scale-down;
    }
    nav > .logoBar::before{
        border-bottom: 5rem solid #4F7FBE;
    }
    .logoBar {
        width: 60%;
        padding-left: 25px;
    }
    .navigationBar {
        padding-left: calc(60% + 25px);
        padding-right: 25px;
    }
    .navigationBar > a {
        display: none;
    }
    
}
@media only screen and (min-width: 640px) and (max-width:992px) {

    nav> .contactBar {
        display: none;
    }
    nav > .logoBar > img {
        height: 50%;
    }
    nav > .logoBar::before{
        border-bottom: 5rem solid #4F7FBE;
    }
    .logoBar {
        width: 40%;
        padding-right: 25px;
    }
    .navigationBar {
        padding-left: calc(40% + 25px);
        padding-right: 25px;

    }
    .navigationBar > a {
        display: none;
    }


}

@media only screen and (min-width: 992px) and (max-width:1200px) {

    nav> .contactBar {
        display: none;
    }
    nav > .logoBar > img {
        height: 50%;
    }
    nav > .logoBar::before{
        border-bottom: 5rem solid #4F7FBE;
    }


}

