.testimonial{
  
    background-color: #f7f7f7;
    color: #1E1C1C;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    border-radius: 4px;
    margin:2rem 0.5rem;
    white-space: wrap;
    align-self: stretch; cursor: grab;
}



.testimonial > div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
}
.testimonial > div > img {
    width: 20%;
    aspect-ratio: 1;
    margin-right: 1rem;
}
.testimonial > div > span{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.testimonial  > div > span > p {
    margin: 0;
    color: rgba(29, 27, 27,0.5);
    font-size: 0.9rem;
    white-space: wrap;
}
.testimonial > div > span > h4 {
    margin: 0;
    font-size: 1.1rem;
}
.testimonial > span {
    color: rgb(255, 255, 0);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    font-size: 1.5rem;
}
.testimonial > h3 {
    margin-top: 0;
}
.testimonial > p {
    white-space: wrap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}


.slick-dots li button:before {
    color: white !important;

}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white !important;
}