.certification{
    background-color: transparent;
    color: #1E1C1C;
    border: 1px solid transparent;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin:2rem 0.5rem;
    white-space: wrap;
    align-self: stretch; cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificationWrapper{
    width: 100%;
}

.certification > span {
    width: 100%;
}
.certification > span > img {
    width: 100%;
    object-fit: cover;
}


.slick-dots li button:before {
    color: white !important;

}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white !important;
}
.slick-track
{
    display: flex !important;
    align-items: stretch;
}

.slick-slide
{
    height: 100% !important;
}