html , body , #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Krub , sans-serif;
  color: #1E1C1C;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

p {
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
}